.fa {
  font-size: 20px;
  /*line-height: inherit;*/
}
.fa-play {
  font-size: 30px;
}
.fa-vc {
  line-height:inherit!important;
}
.nav-link {
  padding: 15px;
}
.navbar-nav {
  margin-left: 10%;
}
.nav-item {
  margin-left: 10%;
}
.info-music {
  line-height: 5px;
  margin-left: 10%;
  padding-top: 4.5%;
  margin-right: 15%;
  color: #fff;
}
