.login-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #f7f7f7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.login-container h1 {
  text-align: center;
  font-size: 1.8em;
}

main {
  display: grid;
  align-items: center;
  grid-template-rows: 100hv;
}
section {
  max-width: 600px;
  margin: auto;
}
.mat-form-field {
  width: 100%;
}
button {
  width: 100%;
  margin-bottom: 10px;
}
