<div class="container main-container">
  <div class="chat-window">

    <h1>Chat</h1>
    <hr>
    <div class="app-message" id="app-message">

      <div *ngFor="let chat of chatService.chats"
           [ngClass]="{ 'text-right': chatService._user.uid == chat.uid }">
        <span class="badge"
              [ngClass]="{ 'badge-primary': chatService._user.uid == chat.uid,
                           'badge-success': chatService._user.uid != chat.uid }">{{ chat.userName}}</span>
        <p>{{ chat.message }}</p>
      </div>

      <!--<div class="text-right">-->
        <!--<span class="badge badge-primary">Name</span>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
      <!--</div>-->

      <!--<div>-->
        <!--<span class="badge badge-success">Name</span>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
      <!--</div>-->

    </div>

    <input type="text" name="message" class="form-control" [(ngModel)]="message" (keyup.enter)="sendMessage(message)" placeholder="Enter message">

  </div>
</div>

<!--{{ chat.userName}}-->

<!--<div *ngIf="authService.isLoggedIn()">-->
<!--<button (click)="authService.logout()">LOGOUT</button>-->
<!--<input [(ngModel)]="msg" placeholder="Type message"/>-->
<!--<button (click)="sendMessage(msg)">SEND</button>-->
<!--</div>-->

<!--<div>-->
<!--<h3>Messages</h3>-->
<!--<div *ngFor="let message of items | async">-->
<!--<div>-->
<!--{{message.userName}} - {{message.timeStamp}} <button (click)="removeMessage(message)" style="background: red">DELETE</button>-->
<!--</div>-->
<!--<div style="width: 100%; border: 1px solid #c7c7c7;">-->
<!--{{message.message}}-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
