.row {
  display: flex;
  align-items: stretch;
  align-content: space-between;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin-left: 0;
  margin-right: 0;
}

.row-wrap {
  flex-flow: row wrap;
}



.card-one {
  width: 50%;
}

.bit-1 {
  height: 500px;
}

.card-four {
  width: 50%;
}

.bit-2 {
  width: 50%;
  height: 250px;
}

.bit-3 {
  width: 50%;
  height: 200px;
}

/* Доп. стили для стилизации */
.wrap {
  padding: 1rem;
  margin: 0 auto;
}

[class*="bit-"] {
  padding: 15px;
}

.img {
  background: deepskyblue;
  height: 100%;
}

.card-line {
  width: 100%;
}
