<!--=======section top artist=======-->
<section>
  <div class="container albums">
    <h1>Top Artists</h1>
    <div class="row">
      <div class="col-md-6" *ngFor="let artist of artists">
        <div class="box">
          <div class="img-bloc">
            <img src="{{ artist.image[4]['#text'] }}" alt="{{ artist.name }}" >
          </div>
          <div class="main-content">
            <h3 class="main-artist">{{ artist.name }}</h3>
            <p class="main-description"></p>
            <a href="{{ artist.url }}" class="btn btn-default btn-one">More</a>
            <!--<a href="" class="btn btn-default btn-two">More</a>-->
          </div>
        </div>
      </div>
      <!--<div class="col-md-3" *ngFor="let artist of artistsO">-->

        <!--<div class="box">-->
          <!--<div class="img-bloc">-->
            <!--<img src="{{ artist.image[4]['#text'] }}" alt="{{ artist.name }}" >-->
            <!--<div class="img-bloc-content">-->
              <!--<h3 class="artist">Блок 2</h3>-->
              <!--<p class="description">ng elit.</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="box">-->
          <!--<div class="img-bloc">-->
            <!--<img src="../../../assets/img/img-4.jpg" alt="">-->
            <!--<div class="img-bloc-content">-->
              <!--<h3 class="artist">Блок 4</h3>-->
              <!--<p class="description">Lorem</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-3">-->
        <!--<div class="box">-->
          <!--<div class="img-bloc">-->
            <!--<img src="../../../assets/img/img-3.jpg" alt="">-->
            <!--<div class="img-bloc-content">-->
              <!--<h3 class="artist">Блок 3</h3>-->
              <!--<p class="description">Lorem</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="img-bloc">-->
            <!--<img src="../../../assets/img/img-5.jpg" alt="">-->
            <!--<div class="img-bloc-content">-->
              <!--<h3 class="artist">Блок 5</h3>-->
              <!--<p class="description">Lorem</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</section>
<!--=======END section top artist=======-->

<!--=======section top=======-->
<section>
  <div class="container albums">
    <h1>Top Tracks</h1>
    <div class="row">
      <div class="col-3" *ngFor="let track of tracks">
        <ul>
          <li>
            <div class="img-bloc-top">
              <img src="{{ track.image[2]['#text'] }}" alt="{{ track.artist.name }}" >
              <div class="img-bloc-content-top">
                <h3 class="artist-top"><a href="{{ track.artist.url }}">{{ track.artist.name }}</a></h3>
                <p class="description-top"><a href="{{ track.url }}">{{ track.name }}</a></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--=======END section top=======-->

<!--=======section top=======-->
<!--<section>-->
  <!--<div class="container albums">-->
    <!--<div class="row">-->
      <!--<div class="col-md-12">-->
        <!--<ul>-->
          <!--<li>-->
            <!--<div class="img-bloc-top">-->
              <!--<img src="../../../assets/img/img-4.jpg" alt="">-->
              <!--<div class="img-bloc-content-top">-->
                <!--<h3 class="artist-top">Блок 3</h3>-->
                <!--<p class="description-top">Lorem</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</li>-->
          <!--<li>-->
            <!--<div class="img-bloc-top">-->
              <!--<img src="../../../assets/img/img-4.jpg" alt="">-->
              <!--<div class="img-bloc-content-top">-->
                <!--<h3 class="artist-top">Блок 3</h3>-->
                <!--<p class="description-top">Lorem</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</li>-->
          <!--<li>-->
            <!--<div class="img-bloc-top">-->
              <!--<img src="../../../assets/img/img-4.jpg" alt="">-->
              <!--<div class="img-bloc-content-top">-->
                <!--<h3 class="artist-top">Блок 3</h3>-->
                <!--<p class="description-top">Lorem</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</li>-->
          <!--<li>-->
            <!--<div class="img-bloc-top">-->
              <!--<img src="../../../assets/img/img-4.jpg" alt="">-->
              <!--<div class="img-bloc-content-top">-->
                <!--<h3 class="artist-top">Блок 3</h3>-->
                <!--<p class="description-top">Lorem</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</li>-->
          <!--<li>-->
            <!--<div class="img-bloc-top">-->
              <!--<img src="../../../assets/img/img-4.jpg" alt="">-->
              <!--<div class="img-bloc-content-top">-->
                <!--<h3 class="artist-top">Блок 3</h3>-->
                <!--<p class="description-top">Lorem</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<!--=======END section top=======-->
