<div class="container">
  <div class="wrap">
    <div class="row">
      <div class="card-one">
        <div class="bit-1">
          <div class="img">1</div>
        </div>
      </div>
      <div class="card-four row row-wrap">
        <div class="bit-2">
          <div class="img">2</div>
        </div>
        <div class="bit-2">
          <div class="img">3</div>
        </div>
        <div class="bit-2">
          <div class="img">4</div>
        </div>
        <div class="bit-2">
          <div class="img">5</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="wrap">
    <div class="row">
      <div class="card-line row">
        <div class="bit-3">
          <div class="img">2</div>
        </div>
        <div class="bit-3">
          <div class="img">3</div>
        </div>
        <div class="bit-3">
          <div class="img">4</div>
        </div>
        <div class="bit-3">
          <div class="img">5</div>
        </div>
        <div class="bit-3">
          <div class="img">5</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="wrap">
    <div class="row">
      <div class="card-line row">
        <div class="bit-3">
          <div class="img">2</div>
        </div>
        <div class="bit-3">
          <div class="img">3</div>
        </div>
        <div class="bit-3">
          <div class="img">4</div>
        </div>
        <div class="bit-3">
          <div class="img">5</div>
        </div>
        <div class="bit-3">
          <div class="img">5</div>
        </div>
      </div>
    </div>
  </div>
</div>
