<main>
  <section class="login-container">
    <h1>Login to Account</h1><br>

    <i class="fa fa-facebook"></i><button mat-raised-button type="submit" color="primary" (click)="loginWithFacebook()">Continue with Facebook</button>
    <i class="fa fa-google"></i><button mat-raised-button type="submit" color="warn" (click)="loginWithGoogle()">Continue with Google</button>

    <p class="text-or">OR</p>

    <form [formGroup]="loginForm" (submit)="login()" novalidate>

      <mat-form-field>
        <!--<input type="email" name="user" placeholder="E-mail" formControlName="email" required>-->
        <input matInput placeholder="Enter your email" formControlName="email" required>
        <mat-error *ngIf="email.valid">Not a valid email</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput name="pass" placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName="password">
        <mat-icon matSuffix (click)="hide = !hide"> {{ hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="password.valid">Not a valid password</mat-error>
      </mat-form-field>

      <button mat-raised-button type="submit" color="primary">Login</button>

    </form>

    <div class="login-help">
      <a href="/register">Register</a> - <a href="/reset-password">Forgot Password</a>
    </div>
  </section>
</main>

<!--<a href="https://www.facebook.com/v3.0/dialog/oauth?-->
  <!--client_id=615550948797320&-->
  <!--response_type=token&scope=user_location,publish_actions&-->
  <!--redirect_uri=http://localhost:4200/facebook/auth" class="button">Sign In with Facebook SDK</a>-->

<!--<br>-->
<!--{{ user$ | async | json }}-->
