.login-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #f7f7f7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: Roboto;
}
.login-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: Roboto;
}
.login-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}
.login-container input[type=text], input[type=password], input[type=email] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.login-container input[type=text]:hover, input[type=password]:hover, input[type=email] {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
}

.login-submit {
  border: 0;
  color: #ffffff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #4d90fe;
  padding: 17px 0;
  font-family: Roboto;
  font-size: 14px;
}
.login-submit:hover {
  bottom: 0;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: #351ae8;
}
.login-container a {
  text-decoration: none;
  color: #666666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}
.login-help {
  font-size: 12px;
}





.button {
  display: inline-block;
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: #3b5998;
  padding: 16px 45px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color .1s ease;
  &::after {
    transition: background-color .2s ease;
    position: absolute;
    content: '';
    height: 4px;
    bottom: 0;
    width: 100%;
    background-color: darken(#3b5998, 50%);
    opacity: .18;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    left: 0;
  }
  &:focus, &:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }
  &:hover {
    background-color: lighten(#3b5998, 5%);
    &::after {
      opacity: .22;
    }
  }
  &:active {
    background-color: darken(#3b5998, 5%);
    &::after {
      opacity: .32;
    }
  }
  &.button-white{
    background-color: #fff;
    color: #444;
    &::after{
      background-color: rgba(#000, .6);
    }
    &:hover{
      &::after{
        background-color: rgba(#000, .2);
      }
    }
    &:active{
      &::after{
        background-color: rgba(#000, .4);
      }
    }
  }
  &.button-dark {
    background-color: #4d4d4d;
    color: #fff;
    &::after {
      background-color: #3b5998;
      opacity: 1
    }
    &:hover {
      background-color: lighten(#4d4d4d, 5);
    }
    &:active {
      &::after {
        background-color: rgba(#3b5998, .2);
      }
      background-color: darken(#4d4d4d, 2);
    }
  }
}
