<section class="s-gallery">
  <div class="container">
    <h1 class="text-center text-warning"></h1>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-12">
        <img src="../../../img/o-3.jpg" alt="foto 1" class="img-fluid rounded">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-12">
        <img src="../../../img/o-3.jpg" alt="foto 2" class="img-fluid rounded">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-12">
        <img src="../../../img/o-3.jpg" alt="foto 3" class="img-fluid rounded">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-12">
        <img src="../../../img/o-3.jpg" alt="foto 4" class="img-fluid rounded">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-12">
        <img src="../../../img/o-3.jpg" alt="foto 5" class="img-fluid rounded">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-12">
        <img src="../../../img/o-3.jpg" alt="foto 6" class="img-fluid rounded">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-12">
        <img src="../../../img/o-3.jpg" alt="foto 7" class="img-fluid rounded">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-12">
        <img src="../../../img/o-3.jpg" alt="foto 8" class="img-fluid rounded">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-12">
        <img src="../../../img/o-3.jpg" alt="foto 9" class="img-fluid rounded">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-12">
        <img src="../../../img/o-3.jpg" alt="foto 10" class="img-fluid rounded">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-12">
        <img src="../../../img/o-3.jpg" alt="foto 11" class="img-fluid rounded">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-12">
        <img src="../../../img/o-3.jpg" alt="foto 12" class="img-fluid rounded">
      </div>
    </div>
  </div>
</section>
