/*=======navigation=======*/

.nav-right {
  text-align: center;
}
.first {
  margin-left: 50px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #FFFFFF;
}
.bg-dark {
  background-color: #282828 !important;
}
.fixed-top {
  /*left: 60px;*/
  /*right: 60px;*/
}
.nav-item {
  height: 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}
.form-inline .form-control {
  margin-left: 60px;
  height: 40px;
  width: 330px;
  border-radius: 33px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(232,79,60,0.62);
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

li {
  list-style: none;
  display: inline-block;
  color: #FFFFFF
}

/*=======END navigation=======*/


.fixedbut {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: block;
  background: #2db700;
  color: #fff;
  text-decoration: none;
  padding: 6px 23px;
  font-size: 17px;
  z-index: 999;
}

.fixedbut:hover {
  background: #222;
}
