.form-control {
  border-radius: 20px;
}


.navbar {
  background-color: #404040;
  color: #ffffff;
}
.navbar-list {
  list-style: none;
}
.navbar-item {
  display: inline;
  margin: 20px;
}
.form-search {
  margin: 15px 0;
}
.input-search {
  width: 380px;
  border-radius: 10px;
  padding: 4px;
}
