<!--=======navigation=======-->
<div class="container navigation">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <div class="container">
      <!--<a href="#" class="navbar-brand text-warning font-weight-bold">Site</a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsenavbar">
        <div class="navbar-inner">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item first">
              <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/collection']">Collection</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/upload']">Upload</a>
            </li>
            <li>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
              </form>
            </li>

            <!--<li class="nav-item dropdown" *ngIf="user">-->
                <!--<div *ngIf="isLoggedIn" class="nav-link dropdown-toggle" id="userprofile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
                  <!--<ul>-->
                    <!--<li><img class="avatar" [src]="user.photoURL" alt="{{user.displayName}}"></li>-->
                    <!--<li><p>{{user.displayName}}</p></li>-->
                  <!--</ul>-->
                <!--</div>-->
              <!--<div class="dropdown-menu" aria-labelledby="userprofile">-->
                <!--<a class="dropdown-item" href="#">Profile</a>-->
                <!--<a class="dropdown-item" href="#">Help</a>-->
                <!--<a class="dropdown-item" (click)="logout()" [routerLink]="['/']" *ngIf="isLoggedIn">Sign Out</a>-->
              <!--</div>-->
            <!--</li>-->

            <li class="nav-item" >
              <div *ngIf="isLoggedIn" routerLink="/me">
                <ul>
                  <li><img class="avatar" [src]="user.photoURL || '//:0'" alt="{{user.displayName}}"></li>
                  <li><p>{{user.displayName}}</p></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link first" [routerLink]="['/login']" *ngIf="!isLoggedIn">Sign In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link first" (click)="logout()" [routerLink]="['/']" *ngIf="isLoggedIn">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/register']" *ngIf="!isLoggedIn">Create account</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/']" class="nav-link">En</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
<!--=======END navigation=======-->

<a class="fixedbut" [routerLink]="['/chat']" *ngIf="isLoggedIn">Chat!</a>
