/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Gotham Pro';
  src: local('assets/fonts/GothamPro.ttf');
}

body {
  background: url("assets/img/BG.svg") top left/cover no-repeat fixed;
  margin-top: 100px;
  font-family: 'Gotham Pro', sans-serif !important;
}
.card {
  margin-top: 20px;
  border: 2px solid rgba(0,0,0,.125);
  border-radius: 10px;
  text-align: center;
}
